[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
argcomplete = "*"
colorlog = "*"
colorama = "*"
requests = "*"
packaging = "*"
terminaltables = "*"

[requires]
python_version = "3.6"
